.root {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    color:#30CC47;
    font-weight: 900;
    font-size: 140px;
    margin-bottom: 15px;
    text-shadow:
    0 0 1px rgba(48, 204, 71, .7),
    0 0 10px rgba(48, 204, 71, .7),
    0 0 10px rgba(48, 204, 71, .7);
    user-select: none;
}

.subtitle {
    background-color: #8C52E5;
    color: white;
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    transition: ease-in-out .3s;
    cursor: pointer;
    user-select: none;
    box-shadow: -10px 10px 0px 3px black;
}

.subtitle:hover {
    transform: translate(10px, -10px);
    box-shadow: -20px 20px 0px 3px black;
}